* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-width: 100%;
  width: fit-content;
}
body {
  background: #eee;
  background-color: #d8d9da;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

.container {
  min-height: 100%;
}

.main {
  overflow: auto;
  padding-bottom: 100px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 99%;
  height: 100px;
  margin-top: -90px;
  clear: both;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.FieldForm {
  width: 20%;
  min-width: 300px;
  height: 60%;
  margin: auto;
  margin-top: 10%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5.6px;
  padding-bottom: 12px;
  border: solid 1px #fff;
  background-color: #f5ba13;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.Error-style {
  background-color: #c51605;
  border: none;
}

.formH2 {
  text-align: center;
  color: #fff;
}

.userInputs {
  display: block;
  margin-bottom: 5px;
  font-size: medium;
  width: 12em;
}

.userLabel {
  font-size: 1.5em;
}

.button-22 {
  align-items: center;
  appearance: button;
  background-color: #134ef5;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 80%;
  line-height: 1.15;
  margin: 0;
  margin-right: 30px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}

.button-container {
  display: flex;
}

.logout {
  margin-left: 30px;
  margin-top: 5px;
}

.error-massage {
  text-align: center;
  color: black;
}
